@import '../../scss/variable';

.search__form {
    display: flex;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.search__input {
    font-size: 15px;
    color: $text_color;
    border: none;
    outline: none;
    flex-grow: 1;

    &:focus {
        --tw-ring-color: none
    }

    &::placeholder {
        color: $text_color;
        font-size: 13px;
    }
}

.search__btn {
    width: 40px;
    height: 40px;
}

.searchresult__title {
    background: #f5f5f5;
    font-size: 13px;
    color: #666;
    font-weight: 400;
    padding: 10px;
}

.searchresult__list {
    padding: 8px 12px;
}

.searchresult__viewall {
    display: block;
    text-align: center;
    color: #3b7adb;
    padding: 2px 0 8px 0;
}